body {
  width: 320px;
  font-size: 12px;
}

.title {
  margin: 0 0 16px 0;
  text-align: center;
  font-size: 24px;
}

/* support list */
.support-list {
  list-style: none;
  margin: 0;
  padding: 0 16px;
  border: 1px solid;
  border-radius: 4px;
}
.support-list-title {
  font-size: 20px;
  margin: 4px 0 12px 0;
  padding-bottom: 4px;
  border-bottom: 1px solid;
}

/* group */
.support-group {
  margin-bottom: 10px;
}
.support-group-title {
  font-size: 16px;
  margin: 0 0 4px 0;
}
.support-group-button {
  width: 100%;
  font-size: 12px;
  border-radius: 8px;
  height: 28px;
  margin-bottom: 4px;
  cursor: pointer;
}
.support-group-button:hover {
  background-color: aqua;
}

#custom-iccard-form {
  padding-top: 8px;
  margin-bottom: 8px;
}

#custom-iccard-form p {
  margin: 0 0 4px 0;
  font-size: 16px;
}

#custom-iccard-form label {
  font-size: 14px;
}

#custom-iccard-form select,
#custom-iccard-form input {
  width: 100%;
  margin: 4px 0 8px;
  font-size: 14px;
}

#custom-iccard-form .action-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#custom-iccard-form .action-group button {
  width: 100%;
}
